@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
}
a {
  text-decoration: none !important;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 10px 3%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: default;
}

.navbar {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1000;
  padding-right: 50px;
}
.navbar-toggler {
  outline: none !important;
  border: none !important;
  color: white !important; /* Garante que a cor do botão seja branca */
  background-color: white !important; /* Fundo branco */
  padding: 10px; /* Ajuste para dar mais espaço ao botão */
  display: flex; /* Para alinhar o conteúdo dentro */
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  border-radius: 5px; /* Adiciona bordas arredondadas (opcional) */
}
.btn-hambur {
  align-content: end;
  margin-right: 0px;
}
.navbar-toggler-icon {
  filter: invert(1); /* Torna o ícone branco */
  background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar .nav-link {
  font-size: 20px;
  color: var(--text-color);
  margin-left: 4rem;
  transition: all 0.3s ease-in-out;

  padding: 8px 8px; /* Adiciona espaço para um efeito mais visível */
  text-align: center;
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
}

.navbar .nav-link:hover {
  color: var(--main-color);

  text-shadow: 0 0 5px 3px var(--text-color);
  text-decoration: underline var(--main-color);
}
.nav-item ul {
  text-align: center;
}

/* Adiciona transição suave e padding nos itens do dropdown */
.dropdown-item {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  padding: 10px 10px; /* Aumenta o padding para destacar o efeito */
}

/* Efeito de arredondamento + fundo ao passar o mouse */
.dropdown-item:hover {
  background-color: var(--main-color); /* Fundo leve ao passar o mouse */
  border-radius: 5%; /* Igual ao efeito rounded-pill */
  transform: scale(1.05); /* Leve aumento */
}

/* Quando o menu estiver aberto */
.navbar-collapse.show {
  margin-top: 5px;
  margin-left: 30px;
  background-color: white; /* Fundo branco ao abrir */
  padding: 10px; /* Ajuste opcional para espaçamento interno */
  border-radius: 5px; /* Borda arredondada opcional */
  width: 100%;
  height: 100%;
}
.navbar-collapse.show .nav-link {
  color: black !important; /* Define a cor do texto background-color: var(--main-color); /* Fundo leve ao passar o mouse */

  border-radius: 5px; /* Igual ao efeito rounded-pill */
  margin-left: 0px;
  margin-right: 0px;
  transition: all 0.3s ease-in-out;
}
.navbar-collapse.show .nav-link:hover {
  background-color: var(--main-color); /* Fundo leve ao passar o mouse */
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

/* Ajustes de fonte para responsividade (se necessário, adicione mais breakpoints) */
@media (max-width: 991px) {
  /* Tablets e menores */

  .header {
    padding: 10px 10px 7%;
  }
  .inicio {
    text-align: center; /* Centraliza o texto */
  }
  .inicio .row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    align-content: center;
    text-align: center;
  }
  .buttons {
    display: flex;
    justify-content: center;
  }
  .inicio h1 {
    font-size: 4.5rem;
  }
  .inicio h3 {
    font-size: 2.8rem;
  }
  .inicio p {
    font-size: 20px;
  }
  .sobre p {
    font-size: 20px;
  }
}
/* Responsividade Home*/
@media (max-width: 768px) {
  /* Smartphones grandes e tablets pequenos */
  .inicio {
    text-align: center; /* Centraliza o texto */
  }

  .tech-item {
    flex-direction: column;
    text-align: center;
  }

  .category-title {
    font-size: 2.4rem;
  }

  .tecnologias-container {
    gap: 3rem;
  }
  .inicio h1 {
    font-size: 3.8rem;
  }
  .inicio h3 {
    font-size: 2.4rem;
  }
  .inicio p {
    font-size: 18px;
  }
  .sobre p {
    font-size: 18px;
  }
  .heading {
    /* Ajusta o tamanho dos títulos de seção */
    font-size: 3.5rem;
    justify-content: center;
  }
}

@media (max-width: 576px) {
  /* Smartphones pequenos */
  .inicio h1 {
    font-size: 3rem;
  }
  .inicio h3 {
    font-size: 2rem;
  }
  .inicio p {
    font-size: 16px;
  }
  .sobre p {
    font-size: 16px;
  }
  .social-media a {
    /* Ajusta o tamanho dos ícones sociais */
    width: 3.5rem;
    height: 3.5rem;
    font-size: 1.8rem;
    margin: 2rem 1rem 2rem 0;
  }
  .btn {
    /* Ajusta o botão de download CV */
    padding: 0.8rem 2rem;
    font-size: 18px;
  }
  .heading {
    font-size: 3rem;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .tech-category {
    padding: 2rem;
  }

  .category-title {
    font-size: 2rem;
  }

  .tech-info h4 {
    font-size: 1.8rem;
  }

  .heading {
    justify-content: center;
  }
}

/* Responsividade Tecnologias*/
@media (max-width: 768px) {
  .tech-grid {
    grid-template-columns: 1fr;
  }

  .tech-item {
    flex-direction: column;
    text-align: center;
  }

  .category-title {
    font-size: 2.4rem;
  }

  .tecnologias-container {
    gap: 3rem;
  }
}

@media (max-width: 480px) {
  .tech-category {
    padding: 2rem;
  }

  .category-title {
    font-size: 2rem;
  }

  .tech-info h4 {
    font-size: 1.8rem;
  }
}

/* Responsividade Experiencias*/
@media (max-width: 768px) {
  .timeline::before {
    left: 30px;
  }

  .timeline-item:nth-child(odd) .timeline-content,
  .timeline-item:nth-child(even) .timeline-content {
    margin-left: 80px;
    margin-right: 0;
    text-align: left;
  }

  .timeline-dot {
    left: 30px;
  }

  .timeline-date {
    left: 80px;
    transform: none;
  }

  .company-header {
    flex-direction: column;
    text-align: center;
  }

  .timeline-content {
    padding: 2rem;
  }
}

@media (max-width: 480px) {
  .timeline::before {
    left: 20px;
  }

  .timeline-dot {
    left: 20px;
    width: 15px;
    height: 15px;
  }

  .timeline-date {
    left: 50px;
    font-size: 1.2rem;
  }

  .timeline-content {
    margin-left: 50px;
    padding: 1.5rem;
  }

  .company-logo {
    width: 60px;
    height: 60px;
  }
}

/*FOOTER*/
footer {
  padding-top: 50px;
}
.contato-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding: 20px;
}

.contato-item {
  flex: 1 1 200px;
  max-width: 250px;
  text-align: center;
}

.contato-item span,
p {
  font-size: 1.6rem;
}

.contato-item i {
  font-size: 24px;
  color: #007bff; /* cor dos ícones */
  margin-bottom: 8px;
  display: block;
}

.contato-item a {
  color: inherit;
  text-decoration: none;
}

.contato-item a:hover {
  color: #007bff;
  text-decoration: underline;
}
