* {
  box-sizing: border-box;
  margin: 0;
}

body {
  align-content: center;
  align-items: center;
}
.calculator {
  /*cor do fundo da calculadora*/
  background-color: #f2f2f2;
  /*fundo da calculadora*/
  /*espaçamento dentro da div*/
  padding: 20px;
  /*Tamanho máximo da calculadora*/
  max-width: 400px;
  /*Colocando a calculadora no centro*/
  margin: 0 auto;
  /*bordas da calculadora*/
  border: solid 1px #ccc;
  /*sombra em volta da calculadora*/
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  /*curvatura da borda*/
  border-radius: 5px;
  /*margem entre o topo e a calculadora*/
  margin-top: 250px;
}

/*id do input de texto*/
#result {
  width: 100%;
  padding: 10px;
  font-size: 24px;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3) inset;
  border-radius: 5px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-top: 20px;
}

button {
  padding: 10px;
  font-size: 24px;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ddd;
}

.number,
.decimal {
  background-color: #fff;
  color: #333;
}

.clear {
  background-color: #ff025f;
  color: #fff;
}

.operator {
  background-color: #ff00b8;
  color: #fff;
}
/*Botão de resultado*/
.equals {
  /*Cor do botão*/
  background-color: #db03ff;
  /*Cor do texto*/
  color: #fff;
  /*Alargar botão para que ocupe o espaço de 3 linhas*/
  grid-row: span 3;
}
